.regionList {
    .create-add {
        margin-bottom: 10px;
    }
    .filter-tree {
        .custom-tree-node {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}