.affair-detail {
    padding: 24rpx;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20rpx;
        border-bottom: 1rpx solid #999;
        padding-bottom: 20rpx;
        .loc {
            color: #999;
            text {
                color: #252525;
                font-weight: bold;
            }
        }
        .status {
            border-radius: 8rpx;
            padding: 6rpx 16rpx;
            color: #fff;
            background-color: #ff1010;
        }
        .status-1 {
            background-color: #3ffd19;
        }
        .status-2 {
            background-color: #999;
        }
    }
    .swiper {
        height: 300rpx;
        margin-bottom: 20rpx;
        .swiper-item {
            display: block;
            height: 300rpx;
            line-height: 300rpx;
            text-align: center;
        }
    }
    .affair-info {
        border-radius: 8rpx;
        background-color: #f7f7f7;
        padding: 24rpx;
        margin-bottom: 20rpx;
        .content {
            word-break: break-all;
            font-size: 28rpx;
            margin-bottom: 20rpx;
        }
        .time {
            margin-bottom: 20rpx;
            display: flex;
            justify-content: space-between;
            .time-item {
                color: #999;
                .time-con {
                    color: #252525;
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            .contact-btn {
                // border-radius: 26rpx;
                // border: 1rpx solid #686868;
                // color: #686868;
                // background-color: #fff;
                // padding: 10rpx 20rpx;
                font-size: 20rpx;
                line-height: 40rpx;
                margin: 0;
            }
            .deal-user {
                color: #999;
                text {
                    color: #252525;
                }
            }
        }        
    }
    .message-list {
        background-color: #f7f7f7;
        padding: 24rpx;
        border-radius: 8rpx;
        .message-input {
            padding: 10rpx 20rpx;
            border-radius: 20rpx;
            border: 1rpx solid #999;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #999;
            margin-bottom: 20rpx;
            image {
                width: 50rpx;
                height: 50rpx;
            }
        }
        .message-item {
            display: flex;
            align-items: center;
            margin-bottom: 20rpx;
            image {
                border-radius: 50%;
                border: 1rpx solid #999;
                width: 120rpx;
                height: 120rpx;
                margin-right: 20rpx;
            }
            .context {
                flex: 1;
                .nickname {
                    font-size: 28rpx;
                    color: #252525;
                    margin-bottom: 10rpx;
                }
                .message-con {
                    border-radius: 0 16rpx 16rpx;
                    background-color: #d0cece;
                    padding: 10rpx;
                    word-break: break-word;
                }
            }
        }
    }
}